<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>404</title>
    <link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" />
    <link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">  
        <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <strong>404</strong></div> 
        <h1>Page not found!</h1>
    </div>
</body>
</html>