<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Atlas</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" /> 
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/vendor/modestmaps.min-old.js"></script>
<script type="text/javascript" src="/static/js/vendor/extent-selector.js"></script>  
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.0"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <strong>{{ atlas.title or atlas.id}}</strong></div>
    <h1>{{ atlas.title }}{% if has_tiles %}<span class="small-menu"><a href="/map-sandwich/atlas/{{ atlas.id }}">View Tiles</a></span>{% endif %}</h1>

   <h3>This Atlas contains {{ maps|sumiter }} maps</h3>

    <h3 id="atlas-status">Status: {{ atlas.status }}</h3>
      
    {% if atlas.status != 'uploaded' %}
        <div id="maps-progress" class="progress progress-info progress-striped">
            <div id="maps-progress-bar" class="bar" style="width: 0%"></div>
        </div> 
    {% endif %} 
    
    <table class="table-striped table twenty">
    	<tr>
        	<th>Thumbnail</th>
        	<th>Title</th>
        	<th>Year</th>
        	<th>Image URL</th>
        </tr> 
        {% for map in maps %}  
            <tr class="map-row {{map.status}}">
            	<td class="mapThumb" id="thumb-{{map.id}}"><a href="/map/{{ map.id }}"><img src="/thing/{{ map.thumb }}" /></a></td>
            	<td class="map-title">{{map.map_title}} <br />            	    <a href="/place-rough/map/{{ map.id }}">Try Rough Placement</a></td>
            	<td>{{map.date}}</td> 
            	<td><a href="{{map.image_url}}" title='link to image'>{{map.image_url}}</a></td>
            </tr> 
        {% endfor %}       
 
	</table>        
        
    <div class="footer">
    	<a href="#top" class="top-jumper">Top &uarr;</a>
    </div>
</div> 

<script type="text/javascript" src="/static/js/uploader.js"></script> 

{% if atlas.status != 'uploaded' %}
<script type="text/javascript" defer> 
var map_total = {{ atlas.map_count|default(0,true) }};
var atlas_name = "{{ atlas.id }}"; 
var progressBar = document.getElementById('maps-progress-bar');

function polling(val){
    if(progressBar){
       var remaining = map_total - val;
       var w = (remaining / map_total) * 100; 
       if(w >= 100){
           progressBar.parentElement.style.display = 'none';
           var status_elm = document.getElementById('atlas-status');
           status_elm.innerText = "Status: uploaded";
       }else{
           progressBar.style.width = w + "%";
       }
    } 
}
poller.atlas_id = atlas_name; 
poller.setCallback(polling);
poller.check();


/*
var layer = new MM.StamenTileLayer("toner-lite");
var map = new MM.Map("atlas-map", layer);
map.setCenterZoom(new MM.Location(37.7, -122.4), 9);  
*/

</script> 
{% endif %}

</body>
</html>
