<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Atlases</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" /> 
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <strong>{CLIENT_NAME}</strong></div>
    <h1>Atlases</h1>
    <table class="table-striped table twenty">
    	<tr>
        	<th>Name</th>
        	<th>Status</th>
        	<th>Uploaded</th>
        	<th>Maps</th> 
        	<th>Affiliation</th>
        	<th>ID</th>
        </tr> 
        {% for atlas in atlases|sort(reverse=True,attribute='uploaded') %}  
            <tr>
            	<td><a href="/atlas/{{atlas.name}}" title='link to atlas'>{{atlas.title}}</a> / Edit</td> 
            	<td>{{ atlas.status }}</td>
            	<td>{{ atlas.uploaded|datetimeformat(false) }}</td>
            	<td>{{ atlas.maps }}</td>  
            	<td>{{ atlas.affiliation }}</td>
            	<td>{{ atlas.name }}</td>
            </tr> 
        {% endfor %}       
 
	</table>
        
    <div class="footer">
    	<a href="#top" class="top-jumper">Top &uarr;</a>
    </div>
</div>  
<script type="text/javascript" src="/static/js/uploader.js"></script>
</body>
</html>