<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Developer Docs</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" /> 
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <strong>Docs</strong></div>
    <h1>Developers</h1>
    <p><strong>What is Maptcha?</strong></p>
    <p>Maptcha is a web-based interface doing rough placements of historical maps on modern geography. </p>
    <p>The first version of maptcha.org was <a href="http://mike.teczno.com/notes/sanborn-maptcha.html">launched by Mike Migurski</a> in July 2011, using the <a href="http://www.davidrumsey.com/blog/2011/6/27/pre-earthquake-san-francisco-1905-sanborn-insurance-atlas">1905 Sanborn Fire Insurance Atlas</a> as its first map series test case. The atlas contained about 700 pages of street level maps of San Francisco, and when it was launched, volunteers from around the world used the site to place each page on to a modern map of the city, all within a few days, which was a wonderful surprise!</p>
    <p> The application was further developed in 2012 by Stamen Design in San Francisco, under a grant from <a href="http://west.stanford.edu/"> The Bill Lane Center for the American West</a> at Stanford University to support for the 2013<a href="http://www.yearofthebay.org">Year of the Bay</a> project, crowdsourcing a new history of the San Francisco Bay Area.</p>
    <h2>The Set Up</h2>
    <h3><strong>JSON Feed</strong></h3>
    <p>Lorem ipsum</p>
    <h3>Editing UI</h3>
    <p>Lorem ipsum</p>
    <h3>Geodata</h3>
    <p>Lorem ipsum</p>
    <h3>S3</h3>
    <p>Lorem ipsum<br>
    </p>
    <h3>Code Repository</h3>
    <p>The Year of the Bay project code lives on Github:</p>
    <blockquote>
        <p><a href="https://github.com/stamen/yearofthebay">https://github.com/stamen/yearofthebay</a></p>
    </blockquote>
    <p><br>
</p>
<div class="footer" style="clear:both;">
    	<a href="#top" class="top-jumper">Top &uarr;</a>
    </div>
</div>  
</body>
</html>