<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Maptcha!</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" /> 
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <strong>Upload Errors</strong></div>
    <h1>Uh oh. Something's wrong.</h1>

    
    <div class="alert alert-error">{{msg.error|safe}}</div>  
    
    {% if msg.rows%} 
    <ul> 
       
        {% for row in msg.rows %}  
        <li>ROW {{row.idx}}: {{row.err}}</li>
        {% endfor %} 
        
    </ul>
    {% endif %}
    
    <p>Please <a href="/upload">try again</a></p>
    
    <div class="footer">
    	<!--<a href="#top">Top &uarr;</a>-->
    </div>
</div>
</body>
</html>