<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Maps</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1><a name="top"></a>
</h1>
<div class="container">
    <div class="page-header">
        <h1>maptcha</h1>
    </div>
    <h2>Frequently Asked Questions</h2>
    <h3>What is Maptcha?</h3>
    <p>Maptcha is a web-based interface doing rough placements of historical maps on modern geography. </p>
    <p>The first version of maptcha.org was <a href="http://mike.teczno.com/notes/sanborn-maptcha.html">launched by Mike Migurski</a> in July 2011, using the <a href="http://www.davidrumsey.com/blog/2011/6/27/pre-earthquake-san-francisco-1905-sanborn-insurance-atlas">1905 Sanborn Fire Insurance Atlas</a> as its first map series test case. The atlas contained about 700 pages of street level maps of San Francisco, and when it was launched, volunteers from around the world used the site to place each page on to a modern map of the city, all within a few days, which was a wonderful surprise!</p>
    <p> The application was further developed in 2012 by Stamen Design in San Francisco, under a grant from <a href="http://west.stanford.edu/"> The Bill Lane Center for the American West</a> at Stanford University to support for the 2013<a href="http://www.yearofthebay.org">Year of the Bay</a> project, crowdsourcing a new history of the San Francisco Bay Area.</p>
    <h3>How do I get started?</h3>
    <p>Your mission, should you choose to accept it, is to align a historical map with its modern equivalent. This will mean scaling and rotating and/or zooming in and out until the features on both maps line up. A rough match is a good match.</p>
    <p>When you open up the tool, you'll see two panels. The left panel contains the old map, and the right panel shows you a modern map of the same (or similar) area. Use the rotation and scaling widget on the left - the big yellow circle thingy - to change the size and position of the old map. You can drag and drop or zoom in and out of either map too. Use the search to bring up a specific place on the modern map if it isn't in quite the right place when you start. </p>
    <p>You might be working on a map that's part of an atlas. Maptcha will let you place as many maps as you have time to do, so, once you're happy with the arrangement, click on the FINISHED button and move to the next map.</p>
    <p>It's possible you'll come up against a map that's not possible to place for some reason, like, the page is too damaged to read properly, or there aren't any features on the old map that you can recognize on a modern map, or it's simply too tricky. If that happens, you can click on the SKIP THIS MAP button to move on to a new map.</p>
    <p>You can stop at any time, of course.</p>
    <h3>I have some old maps I'd like to add to Maptcha. How do I do that?    </h3>
    <p>Please <a href="mailto:info@stamen.com?subject=An enquiry from maptcha.org">get in touch with us</a>. We'd love to find new institutional partners with map collections who are interested to have volunteers place historical maps on modern geography. In fact, we'd love to keep enhancing the Maptcha application, so would love to find potential grant partners to help fund that development work.<br>
</p>
    <p>Is this open source? Can I use it at my institution?</p>
    <p>Not yet, but we'd love to help you try. Right now, the code is up on Github, and we'd love to open it up to the world. Your demand will help move this forward, so please <a href="mailto:info@stamen.com?subject=Interested in maptcha.org code">let us know you're interested</a>.</p>
	
    
    
    <div class="footer" style="clear:both;"> <a href="#top" class="top-jumper">Top &uarr;</a> </div>
</div>
<script type="text/javascript" src="/static/js/uploader.js"></script>
</body>
</html>