<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>FAQ</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" /> 
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <strong>FAQ</strong></div>
    <h1>Frequently Asked Questions</h1>
    <p><strong>What is Maptcha?</strong></p>
    <p>Maptcha is a web-based interface doing rough placements of historical maps on modern geography. </p>
    <p>The first version of maptcha.org was <a href="http://mike.teczno.com/notes/sanborn-maptcha.html">launched by Mike Migurski</a> in July 2011, using the <a href="http://www.davidrumsey.com/blog/2011/6/27/pre-earthquake-san-francisco-1905-sanborn-insurance-atlas">1905 Sanborn Fire Insurance Atlas</a> as its first map series test case. The atlas contained about 700 pages of street level maps of San Francisco, and when it was launched, volunteers from around the world used the site to place each page on to a modern map of the city, all within a few days, which was a wonderful surprise!</p>
    <p> The application was further developed in 2012 by Stamen Design in San Francisco, under a grant from <a href="http://west.stanford.edu/"> The Bill Lane Center for the American West</a> at Stanford University to support for the 2013<a href="http://www.yearofthebay.org">Year of the Bay</a> project, crowdsourcing a new history of the San Francisco Bay Area.</p>
    <p><strong>How do I get started?</strong></p>
    <p>When you open up the tool, you'll see two panels. The left panel contains the old map, and the right panel shows you a modern map of the same (or similar area). The goal is to use the rotation and scaling widget (the big yellow circle thingy on the left) to line up the old map on top of the new. You can drag and drop the maps around, and zoom in and out of both. You can also search for a specific place on the modern map to jump to a place you recognize on the old map.<br>
    </p>
    <p><strong>What's an atlas?</strong></p>
    <p>An atlas is simply a group of maps. Librarians at various institutions (Stanford University, for example) are uploading old maps and a CSV file of basic metadata about them into Maptcha. Each of these groups of maps is called an atlas. </p>
    <p>One of the reasons we think the first version of Maptcha worked so well is that volunteers could see the potential end of their work placing each page of the Sanborn atlas. Giving people a sense of progress of the task at hand is useful, compared with having to slog through an overwhelmingly large list of millions of old maps.    </p>
    <p>What's the best way to create my CSV?</p>
    <p><br>
    </p>
    <p>What fields do I need in my CSV for each map?<br>
    </p>
    <p>Can I play with the map placement tool?<br>
    </p>
    <p>Do you have a naming convention I should use?<br>
    </p>
    <p>Is there a file size limit on map images?<br>
    </p>
    <p>What image file formats do you accept?<br>
    </p>
    <p>Where do I put my images and CSV so Maptcha can get to them?<br>
    </p>
    <p>Is there an automated way for me to do all this?<br>
    </p>
    <p>Can Maptcha integrate with my catalog?<br>
    </p>
    <p>How do I get the geodata back out again?<br>
    </p>
    <p>Can you help me display these maps on my site?</p>
<div class="footer" style="clear:both;">
    	<a href="#top" class="top-jumper">Top &uarr;</a>
    </div>
</div>  
</body>
</html>