<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Historypin</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body> 

<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <strong>Historypin</strong></div>
    <h1> <a href="/upload">Upload</a><small>
        {% if latest <= 0 %}
            you currently have no uploaded atlases
        {% else %}
            Last upload {{ latest|datetimeformat }} ago
        {% endif %}
    </small></h1>
    {% if latest > 0 %}
    <h1><a href="/atlases-list">Atlases</a> <small>{{atlas_count}} so far</small></h1>  
    <h1><a href="/maps-list">Maps</a> <small>{{ maps.total }} total / {{ maps.placed }} placed</small> </h1>
    <h1><a href="/map-sandwich">Map Sandwich</a></h1> 
    {% endif %}
       
    <br>
    <br>
    <br>
 
    <h1><a href="/docs">Developers</a></h1>
    <h1><a href="/faq">FAQ</a></h1>
        
    <div class="footer">
    	<!--<a href="#top" class="top-jumper">Top &uarr;</a>-->
    </div>
</div>
</body>
</html>