<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Step 1: Upload CSV to Maptcha</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <strong>{CLIENT_NAME}</strong></div>
    <h1><a href="/upload">Upload</a> <small>Last upload 6 days ago</small></h1>
    <h1>Atlases <small>{{atlas_count}} so far</small></h1>
    <h1><a href="/atlas">Maps</a> <small>San Francisco, Oakland, Amalfi</small> </h1>
        
    <div class="footer">
    	<!--<a href="#top">Top &uarr;</a>-->
    </div>
</div>
</body>
</html>