<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Map</title>
        <link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css">
        <link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css">
    </head>
    <body class="map">
        <p>
            <a name="top" id="top"></a>
        </p>
        <div class="container-fluid">
            <div class="page-header">
                <a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <a href="/maps-list">Maps</a> / <strong>{{ map.map_title or map.name }}</strong>
            </div>
            <div class="row-fluid">
                <h1>{{ map.map_title or map.name }}<span class="small-menu"><a href="/place-rough/map/{{ map.name }}">Try Rough Placement</a>{% if map.tiles %}<small> | </small><a href="/map-sandwich/map/{{ map.name }}">View Tiles</a>{% endif %}</span></h1>
            </div>
            <div class="row-fluid">
                <div class="twenty span12">
                    <a href="/thing/{{ map.image }}"><img class="bigMap" src="/thing/{{ map.large }}"></a>
                </div>
            </div>
            <div class="row-fluid">
                <h3 class="twenty span12">Meta</h3>
            </div>
            <div class="row-fluid">
                <div id="map-table" class="span12">
                    <table class="table-striped table ten">
                        <tr>
                            <th class="prop">PROP</th>
                            <th>VALUE</th>
                        </tr>
                        {% for stuff in map %}
                        <tr>
                            <td class="prop">{{ stuff }}</td>
                            <td>{{ map[stuff] }}</td>
                        </tr>
                        {% endfor %} 
                    </table>
                </div>
            </div>
            <div class="row-fluid footer">
                <a href="#top" class='top-jumper'>Top ↑</a>
            </div>
        </div>
        <script type="text/javascript" src="/static/js/uploader.js"></script>
    </body>
</html>
