<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Maps</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" /> 
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div id="thumbs" class="container all">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> / <a href="/">Historypin</a> / <strong>Maps</strong></div>
    <h1>Maps &nbsp;&nbsp;&nbsp;&nbsp;<small><a id="filter-all" class='filter' href="#show=all">all</a> | <a id="filter-placed" class='filter' href="#show=placed">placed</a> | <a id="filter-not_placed" class='filter' href="#show=not_placed">not placed</a></small></h1>
    
    
    {% for map in maps %}  
    
    <a class="map-list-item{% if map.status == 'rough-placed' %} placed{% endif %}" title="{{ map.map_title or map.title or map.name }}" href="/map/{{ map.name }}" style="background-image:url('/thing/{{ map.thumb }}');"></a>
    {% endfor %}
        
    <div class="footer" style="clear:both;">
    	<a href="#top" class="top-jumper">Top &uarr;</a>
    </div>
</div> 
<script type="text/javascript" src="/static/js/common.js"></script>  
<script type="text/javascript" src="/static/js/uploader.js"></script>


<script> 
    var filters = document.getElementsByClassName('filter');
    if(filters){ 
        var currentFilter = "all";
        var filter_prefix = "filter-";
        var filter_hash = {};
        var cont = document.getElementById('thumbs');
        
        for(var i=0;i<filters.length;i++){
            filter_hash[filters[i].id] = filters[i];
        }
        
        if ("onhashchange" in window) {
            function locationHashChanged() {
                var hash = getHash();
                console.log("hash: ",hash)
                if(hash.show && filter_hash[filter_prefix+hash.show] && hash.show != currentFilter){ 
                    cont.classList.remove(currentFilter);
                    currentFilter = hash.show; 
                    cont.classList.add(currentFilter);
                    
                }
            }

            window.onhashchange = locationHashChanged;
            locationHashChanged();
            
        }

        
    }
</script>
</body>
</html>