<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Maps</title>
<link href="/static/styles/vendor/bootstrap-mod.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/maptcha.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a name="top"></a>
<div class="container">
    <div class="page-header"><a href="http://maptcha.org">maptcha.org</a> | <a href="/faq-public.html">FAQ</a></div>
    <h1>All Maps</h1>
	<form>
        <p>
            Sort:
            <input name="sort" type="radio" value="publish" checked><label for="publish">Map Publish Date</label>
            <input name="sort" type="radio" value="date"><label for="date">Date Uploaded</label>
        
        	&nbsp;|&nbsp;
            
            <a href="/historypin/maps.xml">Download as XML</a>    
        
        </p>
    </form>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <a href="map.html"><img src="" width="100%" height="600" /></a> <br>
    <br>
    <div class="footer" style="clear:both;"> <a href="#top" class="top-jumper">Top &uarr;</a> </div>
</div>
<script type="text/javascript" src="/static/js/uploader.js"></script>
</body>
</html>