<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>[alt] Year of the Bay (Map)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <link href="/static/styles/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/vendor/bootstrap-responsive.min.css" rel="stylesheet"> 
    <link href="/static/styles/place_map.css" rel="stylesheet"> 
    
    <!-- js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  
    <script type="text/javascript" src="/static/js/vendor/modestmaps.min.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.0"></script> 
    <script type="text/javascript" src="/static/js/vendor/paper.js"></script>
    
</head>
<body>
    <div id="background-map-wrap">
         <div id="background-map"></div> 
    </div>
    <div class="container">
        
        <div id="main" class="row">
            <div class="cf span12 box-wrap"> 
                
                <!-- original map -->
                <div id="scan-box" class="box left-box">
                    <canvas id="scan" width='480' height='550'></canvas>
                    <img id="scan_img" src="/thing/{{ map.large }}" style="display: none;">

                    <div id="zoom-controls-canvas" class="zoom-controls">  
                        <a href="#" class="zoom-in">+</a> 
                        <a href="#" class="zoom-out">&ndash;</a>
                    </div> 
                    
                </div>
                
                <!-- modestmap positioner -->
                <div id="map-box" class="box right-box"> 
                    <div id="map-pane"></div> 
                
                    <div id="zoom-controls-mm" class="zoom-controls">   
                        <a href="#" class="zoom-in">+</a> 
                        <a href="#" class="zoom-out">&ndash;</a>
                    </div>
                
                    <div id="address-search" class="no-map">  
                        <div id="address-search-form">
                            <div class="explain">Search for a cross street you can see on the old map…</div>
                            <label><input type="search" name="geocode" size="28" placeholder="16th St &amp; Mission St"> Find</label>
                            <div class="explain"><small>You only have to type the names, like “Milton &amp; Bosworth”</small></div> 
                        </div>
                    </div> 
                </div>
            </div> <!-- end #box-wrap -->
            
        </div>  
        
        <div class="row">
            <div id="footer" class="cf span12"> 
                
                <div class="logo footer-section">
                </div>  
                
                <div class="footer-section">
                    <!-- polyfill: http://www.frequency-decoder.com/2010/11/18/unobtrusive-slider-control-html5-input-range-polyfill -->
                     <div id="slider">
                         <label>Old Map Overlay <span id="slider-output-value"></span></label> 
                         <div id="slide-wrap">
                             <input id="slide" type="range" min="0" max="100" step="1" value="100"/>
                             <div id="slide-overlay"></div>     
                         </div>
                     </div>
                </div>
                
                <div id="placement-actions" class="footer-section">  
                    <form id="complete" action="/place-rough/map/{{ map.name }}" method="post">
                         <input name="ul_lat" id="ul_lat" type="hidden">
                         <input name="ul_lon" id="ul_lon" type="hidden">
                         <input name="lr_lat" id="lr_lat" type="hidden"> 
                         <input name="lr_lon" id="lr_lon" type="hidden">
                         <button name="action" id="action-skip" value="place" class="btn btn-large btn-success" type="submit">Finished</button>        
                         <button name="action" id="action-place" value="skip" class="btn btn-large" type="button">Skip This Map</button> 
                     </form>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <script type="text/javascript" src="/static/js/place_map.js"></script> 
     
    <script type="text/javascript" >
         window.onload = function(){ 
             
             YTOB.PlaceMap.init();
             
             $(window).on("resize",function(){
                 YTOB.PlaceMap.resize()
             })
             $(window).trigger("resize");   
            
         } 
    </script>
    
</body>
</html>
