<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Year of the Bay (Map)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <link href="/static/styles/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/vendor/bootstrap-responsive.min.css" rel="stylesheet"> 
    <link href="/static/styles/place_map.css" rel="stylesheet"> 
    
    <!-- js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  
    <script type="text/javascript" src="/static/js/vendor/modestmaps.min.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.0"></script> 
    <script type="text/javascript" src="/static/js/vendor/paper.js"></script>
    
</head> 


<body>
    <div id="background-map-wrap">
         <div id="background-map"></div> 
    </div>
    <div class="container">
        
        <div id="main" class="row">
            <div class="cf span12 box-wrap"> 
                
                <!-- original map -->
                <div id="scan-box" class="box left-box">
                    <canvas id="scan" width='480' height='550'></canvas>
                    <img id="scan_img" src="/thing/{{ map.large }}" style="display: none;">

                    <div id="zoom-controls-canvas" class="zoom-controls">  
                        <a href="#" class="zoom-in">+</a> 
                        <a href="#" class="zoom-out">&ndash;</a>
                    </div> 
                    
                </div>
                
                <!-- modestmap positioner -->
                <div id="map-box" class="box right-box"> 
                    <div id="map-pane"></div> 
                
                    <div id="zoom-controls-mm" class="zoom-controls">   
                        <a href="#" class="zoom-in">+</a> 
                        <a href="#" class="zoom-out">&ndash;</a>
                    </div>
                
                    <div id="address-search" class="">  
                        <div id="address-search-form">
                            <div id="address-search-form-inner">
                                <a href="#" class="close">x</a> 
                                <p id="explain-title" class="explain">Search for a cross street you can see on the old map…</p> 
                                <div class="input-append">
                                    <input id="address_input" type="text" class="span3">
                                    <button id="address_input_submit" type="button" class="btn">Find</button>
                                </div>
                                <!--<label><input id="address_input" class="input-xlarge" type="search" name="geocode" size="28" placeholder="16th St &amp; Mission St"> Find</label>-->
                                <p class="explain muted"><small id="explain-help">You only have to type the names, like “Milton &amp; Bosworth”</small></p>
                            </div> 
                        </div>
                        
                    </div>
                     
                </div><!-- end #map-box -->      
                
            </div> <!-- end #box-wrap -->
            
        </div>  
        
        <div class="row">
            <div id="footer" class="cf span12"> 
                
                <a href="/" class="logo footer-section"></a>  
                
                <div class="footer-section">
                    <!-- polyfill: http://www.frequency-decoder.com/2010/11/18/unobtrusive-slider-control-html5-input-range-polyfill -->
                     <div id="slider">
                         <label>Old Map Overlay <span id="slider-output-value"></span></label> 
                         <div id="slide-wrap">
                             <input id="slide" type="range" min="0" max="100" step="1" value="100"/>
                             <div id="slide-overlay"></div>     
                         </div>
                     </div>
                </div>
                
                <div id="placement-actions" class="footer-section">  
                    <form id="complete" action="/place-rough/map/{{ map.name }}" method="post">
                         <input name="ul_lat" id="ul_lat" type="hidden">
                         <input name="ul_lon" id="ul_lon" type="hidden">
                         <input name="lr_lat" id="lr_lat" type="hidden"> 
                         <input name="lr_lon" id="lr_lon" type="hidden">
                         <button name="action" id="action-skip" value="place" class="btn btn-large btn-success" type="submit">Finished</button>        
                         <button name="action" id="action-place" value="skip" class="btn btn-large" type="button">Skip This Map</button> 
                     </form>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <script type="text/javascript" src="/static/js/place_map.js"></script> 
     
    <script type="text/javascript" > 
         var hint_attr = {
             'streets':{
                 'explain-title':'Search for a cross street you can see on the old map…',
                 'explain-help':'You only have to type the names, like “Milton &amp; Bosworth”',
                 'placeholder':'16th St &amp; Mission St'
             },
             'cities':{
                 'explain-title':'Search for a towns/cities you can see on the old map…',
                 'explain-help':'You only have to type the names, like “San Francisco”',
                 'placeholder':'Town or City name'
             },
             'features':{
                 'explain-title':'Search for a geographical feature',
                 'explain-help':'You only have to type the names, like “Sutro Bathes”',
                 'placeholder':'geographical feature'
             },
              'default':{
                  'explain-title':'Search for a cross street you can see on the old map…',
                  'explain-help':'You only have to type the names, like “Milton &amp; Bosworth”',
                  'placeholder':'16th St &amp; Mission St'
              }

         }
         var atlas_hints = {
              'ul_lat': null,
              'ul_lon': null,
              'lr_lat': null,
              'lr_lon': null,
              'has_features': false,
              'has_cities': false,
              'has_streets': false
          }
        
        {% if atlas.ul_lat %}atlas_hints['ul_lat'] = {{ atlas.ul_lat|float }};{% endif %}
        {% if atlas.ul_lon %}atlas_hints['ul_lon'] = {{ atlas.ul_lon|float }};{% endif %}
        {% if atlas.lr_lat %}atlas_hints['lr_lat'] = {{ atlas.lr_lat|float }};{% endif %}
        {% if atlas.lr_lon %}atlas_hints['lr_lon'] = {{ atlas.lr_lon|float }};{% endif %}
        {% if atlas.hint_features %}atlas_hints['has_features'] = {{ atlas.hint_features|lower|default(false,true) }};{% endif %}
        {% if atlas.hint_cities %}atlas_hints['has_cities'] = {{ atlas.hint_cities|lower|default(false,true) }};{% endif %}
        {% if atlas.hint_streets %}atlas_hints['has_streets'] = {{ atlas.hint_streets|lower|default(false,true) }};{% endif %}   
    
         window.onload = function(){ 
             
             YTOB.PlaceMap.init();
             
             $(window).on("resize",function(){
                 YTOB.PlaceMap.resize()
             })
             $(window).trigger("resize");   
            
         } 
    </script>
    
</body>
</html>