#scan-wrap{position:relative;width:100%;}
#scan{position:relative;width:450;height:550;} 
#map-box{position:relative;}
#map-pane{height:550px;} 
#map-box canvas
{
    position: absolute;
    top: 0;
    left: 0;
}
#map-box a
{
    display: block;
    float: left;
    margin: 0;
}    
#zoom-controls
{
    position: absolute;
    top: 10px;
    left: 10px;
}
#zoom-controls img { border: none; }
#slider{
    position:absolute;
    left:10px;
    bottom:10px;
}