/* CSS Document */





dl .example { color: black;}
dd {
	margin: 20px;
}

.required {
	background-color: #F30;
	color: white;
	padding: 3px;
}

.twenty {
	margin-top: 20px;
}

.submit {
	text-align: right;
}
td.mapThumb {
	text-align: center;
} 
.mapThumb img {
	margin-left: auto; margin-right: auto;
}

.bigMap {
	width: 100%;
}

.footer {
  padding-top: 17px;
  margin: 18px 0;
  border-top: 1px solid #eeeeee;
}