/* CSS Document */

dl .example { color: black;}
dd {
	margin: 20px;
}

.required {
	background-color: #F30;
	color: white;
	padding: 3px;
}
.required-color{
    color: #F30;
    font-weight:bold;
    font-size:18px;
}

.twenty {
	margin-top: 20px;
}

.submit {
	text-align: right;
} 

tr.map-row.error{
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

td.mapThumb {
	text-align: center;
} 
.mapThumb img {
	margin-left: auto; margin-right: auto;
}

tr.map-row.empty td.mapThumb{
    width:150px;
    height:150px;
    background:url('/static/styles/imgs/loading.gif') 50% 50% no-repeat;
}
tr.map-row.empty td.mapThumb a{
    display:none;
}
tr.map-row.uploaded td.mapThumb a{
    display: block;
} 
td.map-title{
    white-space: nowrap;
}

.bigMap {
	width: 100%;
} 
#atlas-hints{
    margin-top: 20px;
    border-top: 1px solid #EEE;
    padding-top: 5px;
}
#atlas-map{
    border:1px solid #ddd;
    width:100%; 
    height:600px;
}

.footer {
  padding-top: 17px;
  margin: 18px 0;
  border-top: 1px solid #eeeeee;
}
#maps-progress{
    margin-top:20px;
}

/**/
#csv-submit-btn{
    margin-top:-10px;
}   

/* map controls */
.zoom-controls
{
    position: absolute;
    top: 10px;
    left: 10px; 
    z-index:10;
} 

.zoom-controls a
{
    display: block;
    width: 33px;
    height: 33px;
    background: #ffff33;
    color: black;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.zoom-controls a#zoom-out{line-height:30px} 
.zoom-controls img { border: none; }  

.zoom-controls a:hover{
    color:white;
}

/* map extent */ 
.map-extent {
    background-color: transparent;
    z-index: 9;
}
.map-extent .handles {
    cursor: default;
    border: 5px solid yellow;
}

.map-extent .handle {
}

.map-extent .handle:hover {
    background-color: yellow;
}

.map-extent .handle-north,
.map-extent .handle-south { cursor: ns-resize; }
.map-extent .handle-east,
.map-extent .handle-west { cursor: ew-resize; }

.map-extent .handle-northwest,
.map-extent .handle-southeast { cursor: nwse-resize; }
.map-extent .handle-northeast,
.map-extent .handle-southwest { cursor: nesw-resize; }
.map-extent .handle-northwest{cursor: move;}
    
.map-extent .handle-north {
    height: 5px;
    width: 100%;
    top: -1px;
}

.map-extent .handle-south {
    height: 5px;
    width: 100%;
    bottom: -1px;
}

.map-extent .handle-east {
    width: 5px;
    height: 100%; 
    right: -1px;
}

.map-extent .handle-west {
    width: 5px;
    height: 100%;
    left: -1px;
}

.map-extent .handle-northwest,
.map-extent .handle-northeast,
.map-extent .handle-southeast,
.map-extent .handle-southwest {
    width: 26px;
    height: 26px;
    overflow:hidden;
    border-radius: 13px; 
    background-repeat:no-repeat;
    background-position:0 0;
    background-color:yellow;
}

.map-extent .handle-northeast {
    top: -13px;
    right: -13px;
    background-image:url('/static/styles/imgs/nesw-resize-26.png');
}
.map-extent .handle-southeast {
    bottom: -13px;
    right: -13px; 
    background-image:url('/static/styles/imgs/nwse-resize-26.png');
}
.map-extent .handle-southwest {
    bottom: -13px;
    left: -13px;
    background-image:url('/static/styles/imgs/nesw-resize-26.png');
}
.map-extent .handle-northwest {
    top: -13px;
    left: -13px;
    background-image:url('/static/styles/imgs/move.png');
}

#extent-lock-label{
    position:absolute;
    z-index:1001;
    top:10px;
    right:10px;
    display:inline;
    background: yellow;
    padding: 5px 5px 3px;
    font-weight: bold;
}
#extent-lock-label input{
    display:inline;
} 
.handle i{
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 3px;
    top: -2px;
}
.map-list-item{
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 10px 10px 0; 
    border: 1px solid #EEE;
} 
.map-list-item:hover{
    opacity:.6;
} 
.hide{
    display:none;
}
img { max-width:100% }

h1 span.small-menu{
    padding-left:20px;
}
h1 span.small-menu a{
    font-size:14px;
}
h1 span.small-menu small{
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -1px;
}

#map-table table{
    word-wrap:break-word;
    table-layout:fixed;
}
#map-table table td, #map-table table th{
    color:#333;
}

#map-table table td.prop,#map-table table th.prop{
    font-weight:bold;
    width:30%; 
    color:#000;
} 
/* map list filtering */
#thumbs .filter{
    color: #08C;
    text-decoration: none;
    cursor:pointer;
}
#thumbs .filter:hover{  
    color: #005580;
    text-decoration: underline;
} 

#thumbs.all a.map-list-item{display:block;}
#thumbs.all #filter-all{
    color: #005580;
    text-decoration: underline;
    cursor:default;
}

#thumbs.placed a.map-list-item{display:none;}
#thumbs.placed a.map-list-item.placed{display:block;}
#thumbs.placed #filter-placed{
    color: #005580;
    text-decoration: underline;
    cursor:default;
}

#thumbs.not_placed a.map-list-item{display:block;}
#thumbs.not_placed a.map-list-item.placed{display:none;}
#thumbs.not_placed #filter-not_placed{
    color: #005580;
    text-decoration: underline;
    cursor:default;
}