body{
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

#background-map-wrap{
    position:fixed;
    width:100%;
    height:100%;
}
#background-map{
    position:relative;
} 

body .row-fluid [class*="span"].box-wrap{
    margin:20px auto 0 auto; 
    float:none;
} 

.box{
    position:relative;  
    float:left;
}
 
#scan-box{
    z-index:10;
}
#scan-wrap{
    position:relative;
    width:100%;
}
#scan{
    position:relative;
    width:480;
    height:550;
}  

#map-box{
}
#map-pane{
    position:relative;
    width:100%;
    height:550px; 
}  

#background-map-wrap canvas
{
    position: absolute;
    top: 0;
    left: 0;
}
   
.zoom-controls
{
    position: absolute;
    top: 10px;
    left: 10px;
} 
#map-box #zoom-controls-mm
{
    right:10px;
    left:auto;
}
.zoom-controls a
{
    display: block;
    width: 33px;
    height: 33px;
    background: #E30079;
    color: white;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.zoom-controls a.zoom-out{line-height:30px}
.zoom-controls img { border: none; }  

.zoom-controls a:hover{
    color:black;
}               

#address-search
{
    position: absolute;
    top: 15px;
    left: 100px;  
    background: #DDD;
    z-index: 2; 
    display:block; 
    text-align:center;  
    display:none;
} 
#address-search-form{
    top:0;
    margin:5px;
}

#address-search.no-map
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}
#address-search.no-map #address-search-form{
    position: relative;
    top: 45%;  
    margin:0;
}

    #address-search.no-map label
    {
        float: none;
        margin: 10px 0;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    #address-search.no-map .explain
    {
        display: block;
        margin-left: 10px;
        white-space: nowrap;
    }

    #address-search input { width: 200px; }
    #address-search.no-map input { width: 300px; }
    #address-search .explain { display: none; }
    
#footer{
    height:50px;
    background:white; 
    margin-top:0;
}
#footer div{
    height:100%;
    background:white;
} 
   
#slider{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, .8);
    padding: 10px 10px 5px;
    border-radius: 10px;
    border: 2px solid #CCC;
}
#slider label{
    position: relative;
    top: -5px;
    margin-right: 5px;
}

.test{
    height:50px;
    background:white;
    width:100%;
}

 

form#complete
{
    text-align: center;
    clear: both;
}

form#complete input[type=submit]
{
    cursor: pointer;
    font: bold 24px Helvetica, Arial, sans-serif;
    background-color: #999;
    color: white;

    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

form#complete input.action-no
{
    background-color: white;
    border-color: #c00;
    color: #c00;
    font: normal 16px Helvetica, Arial, sans-serif;
    padding: 5px 20px;
    margin-top: 5px;
}

form#complete input.action-no:hover
{
    background-color: #f30;
    border-color: black;
    color: white;
}

form#complete input#action-ok { background-color: #090; }   

/* clear fix */
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Large desktop */
@media (min-width: 980px) {     
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 82.90598290598291%;
        min-height: 30px;
        margin-left: 2.564102564102564%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;    
    }

    
    .row-fluid .span6 {
        width: 49.8%;
    }
    
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }